body{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Montserrat', sans-serif; 
    overflow-x: hidden; 
} 
.container{ 
    width: 1140px; 
    margin: 0 auto; 
} 
p{ 
    margin: 0; 
} 
section{ 
    padding: 15px 0; 
} 
.here-wrapper{ 
    display: inline-block; 
    justify-content: space-between; 
    text-align: center; 
    padding: 80px; 
    } 
 
.adventure, .road, .main, .general-information, .location_a, #header-gen{ 
    display: none; 
} 
 
.header{ 
    background: #1f2b3f; 
} 
.header-wrapper{ 
    display: flex; 
    justify-content: space-between; 
} 
.logo{ 
    width: 100px; 
    height: 100px; 
    cursor: pointer; 
} 
.header-items{ 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    align-items: center; 
} 
.header__a{ 
    text-decoration: none; 
    font-size: 15px; 
    font-weight: 600; 
    color: white; 
    cursor: pointer; 
} 
.header__a:hover{ 
    color: #5484d4; 
    transition: 0.5; 
} 
#map{ 
        height: 500px; 
        width: 90%; 
 
} 
 
.road-wrapper{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
 
.adventure{ 
    background-color: #1f2b3f; 
} 
.adventure-wrapper{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.adventure-item{ 
    width: 50%; 
} 
.adventure-input{ 
    width: 35%; 
    height: 42px; 
    border-radius: 20px; 
    padding: 0 20px; 
    font-size: 18px; 
    border: 3px solid #5484d4; 
} 
 
.info-text{ 
    text-transform: uppercase; 
    font-weight: 700; 
    font-style: italic; 
    font-size: 34px; 
    margin: 0; 
    margin-bottom: 20px; 
} 
 
.blue-word{ 
    color: #5484d4; 
} 
 
.text{ 
    padding-left: 700px; 
    padding-top: 170px; 
    padding-bottom: 200px; 
} 
 
.btn { 
    display: inline-block; 
    background-color: #1f2b3f; 
    font-size: 14px; 
    padding: 13px 30px; 
    color: #5484d4; 
    font-weight: 500; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    text-decoration: none; 
    border-radius: 30px; 
    cursor: pointer; 
    border: 3px solid #5484d4; 
    margin-top: 35px; 
} 
.btn:hover{ 
    color: inherit; 
    background-color: #5484d4; 
    transition: 0.3s; 
} 
 
@media(max-width:  1200px){ 
    .road-text{ 
        display: none; 
        } 
}
.footer{
    background-image: linear-gradient(to top, rgba(31,43,63,0.7), rgb(84,132,212,0.7)),
    url('background-img/back.png');
    background-size: cover;
    color: white;
    padding: 40px 0;
}
.footer p{
    font-size: 20px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-items1{
    width: 50%;
}   
.footer-item1{
    display: flex;
    margin-bottom: 20px;
}
.footer-item1-text{
    
}
.footer-icon1{
    margin-right: 20px;
    fill: white;
}
.footer-item2{
    width: 40%;
}
.footer-social{

}
.footer-item2-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-item2-text{
    width: 80%;
    margin-bottom: 20px;
}
.jss17{
    fill: #fff;
    width: 30px;
    padding: 0 8px;
    cursor: pointer;
}
.footer-item1-a{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
.nav{
    float: right;
    font-size: 30px;
}
.nav label{
    color: white;
    display: none;
    margin-top: 8px;
    margin-right: 20px;
}
#toggle{
    display: none;
}
@media (max-width: 993px){
    .footer-wrapper{
        display: inline;
    }
    .footer-items1{
        width: 60%;
        border-bottom: white solid 3px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-item2{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-item2-text{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px){
    .footer p{
        font-size: 18px;
    }
    .footer-item2-text{
        width: 100%;
    }
    .footer-item1 p{
        font-size: 16px;
    }
    .footer-item1-a{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    label{
        display: block;
        cursor: pointer;
    }
    .header{
        position: static;
    }
    .header-wrapper{
        display: inline;
        padding-left: 40%;
    }
    .header-items{
        display: inline;
    }
    .header__a{
        text-align: center;
        border: 0;
        border-bottom: 1px solid gray;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 30px;
        padding: 5px;
    }
    .nav label{
        display: block;
        cursor: pointer;
    }
    #toggle:checked + .header{
        display: none;
    }
    .logo{
        display: none;
    }
}