.btn {
    display: inline-block;
    background-color: #1f2b3f;
    font-size: 14px;
    padding: 13px 30px;
    color: #5484d4;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid #5484d4;
    margin-top: 35px;
}
.btn:hover{
    color: inherit;
    background-color: #5484d4;
    transition: 0.3s;
}
.dop{
    display: inline-block;
    font-size: 14px;
    padding: 13px 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 35px;
    border: 3px solid #1f2b3f;
    color: #1f2b3f;
    background-color: #5484d4;
}
.dop:hover{
    color: inherit;
    background-color: #1f2b3f;
    transition: 0.3s;
}